{% extends "base.html" %}
{% block contenido %}
<!--main content start-->
	<form action="" class="form">
		<!-- FORMULARIO DATOS DEL NIÑO, NIÑA O ADOLECENTE -->
		<div class="row mt">
			<div class="col-lg-12">
				<div class="form-panel form-inline">
					<h4 class="mb">
						<i class="fa fa-angle-right"></i>
						Registrar Actuaciones
					</h4>
					<div class="row">
						<div class="col-sm-12 col-md-12 col-lg-12">
							<div class="content-panel">
								denunciante denunciado tipologia
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="content-panel">
								<table class="table table-striped table-advance table-hover">
									
									<hr>
									<thead>
										<tr>
											<th><i class="fa fa-bullhorn"></i> Victima</th>
											<th class="hidden-phone"><i class="fa fa-question-circle"></i> Denunciado</th>
											<th><i class=" fa fa-edit"></i> Tipologia</th>
											<th>Actuaciones</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><a href="basic_table.html#">Company Ltd</a></td>
											<td class="hidden-phone">Lorem Ipsum dolor</td>
											<td><span class="label label-info">Violencia</span></td>
											<td>
												<a href="#" class="btn btn-success btn-xs"><i class="fa fa-pencil"></i> Registrar</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div><!-- /content-panel -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
{% endblock %}
