{% extends "base.html" %}
{% block contenido %}
<!--main content start-->
<form action="" class="form" method="post">
	{% csrf_token %}
	<div class="row mt">
		<div class="col-lg-12">
			<div class="form-panel form-inline">
				<h4 class="mb">
					<i class="fa fa-angle-right"></i>
					Resumen del Caso
				</h4>
				<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-12">
						<div class="col-sm-4 col-md-4 col-lg-4 alert alert-warning">
							<label class="control-label">Victima:</label><p>{{victima}}</p>
						</div>
						<div class="col-sm-4 col-md-4 col-lg-4 alert alert-warning">
							<label class="control-label">Denunciante:</label><p>{{denunciante}} </p>
						</div>
						<div class="col-sm-4 col-md-4 col-lg-4 alert alert-warning">
							<label class="control-label">Denunciado:</label><p>{{denunciado}}</p>
						</div>
						
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-12">
						<div class="col-sm-4 col-md-4 col-lg-4 alert alert-warning">
							<label class="control-label">Tipologia:</label><p>{{tipologia}}</p>
						</div>						
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-12">
						<div class="form-inline">
							<div class="form-group col-sm-3 col-md-3">
								<label class="control-label">Fecha Actuacion</label>
								<br>
								<input type="date" class="form-control" name = "fecha_accion">
							</div>
							<div class="form-group col-sm-3 col-md-3">
								<br>
								<input type="text" class="form-control" placeholder="Actuacion" name = "accion">
							</div>
							<div class="form-group col-sm-3 col-md-3">
								<label class="control-label">Fecha Resultado</label>
								<br>
								<input type="date" class="form-control" name = "fecha_resultado">
							</div>
							<div class="form-group col-sm-3 col-md-3">
								<br>
								<input type="text" class="form-control" placeholder="(Juzgado: pronunciamientos, resoluciones, providencias)" name = "resultado">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-12">
						<div class="form-group col-sm-1 col-md-1">
							<button id="button" type="submit" class="btn btn-theme btn-position">Guardar</button>
						</div>
					</div>
				</div>
			</div>

		</form>
			<div class="row">
				<div class="col-md-12">
					<div class="content-panel">
						<table class="table table-striped table-advance table-hover">

							<hr>
							<thead>

								<tr>
									<th class="hidden-phone"><i class="fa fa-question-circle"></i> Fecha de Accion</th>
									<th><i class=" fa fa-edit"></i> Acciones inmediatas / Realizadas</th>
									<th>Fecha resultado</th>
									<th>Resultado obtenidos</th>
									<th>Acciones</th>
								</tr>
							</thead>
							<tbody>
								{% for actuacion in actuaciones %}
								<tr>

									<td class="hidden-phone">{{actuacion.f_accion}}</td>
									<td>
										{{actuacion.accion}}
									</td>
									<td>
										{{actuacion.f_resultado}}</a>
									</td>
									<td>
										{{actuacion.resultado}}</a>
									</td>
									<td><a href="{% url 'editar_actuacion' actuacion.pk %} " class="btn btn-success btn-xs"><i class="fa fa-pencil"></i>Editar</a>
									<a href="{% url 'eliminiar_actuacion' actuacion.pk %}" class="btn btn-danger btn-xs"><i class="fa fa-minus-square"></i>Eliminar</a>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div><!-- /content-panel -->
				</div>
			</div>
			<div class="centered">
				<ul class="pagination">
					<li>
						<a href="#" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li>
						<a href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}