{% extends "base.html" %}
{% block contenido %}
<!--main content start-->
<form action="" class="form">
	<div class="row mt">
		<div class="col-lg-12">
			<div class="form-panel form-inline">
				<h4 class="mb">
					<i class="fa fa-angle-right"></i>
					Detalles del Caso
				</h4>
				<div class="row col-sm-12 col-md-12 col-lg-12">
						
						<div class="col-sm-2 col-md-2 col-lg-2">
							<div class="alert alert-success">
								<b>Fecha:</b><br> 17/07/2015
							</div>
						</div>
						<div class="col-sm-2 col-md-2 col-lg-2">
							<div class="alert alert-success">
								<b>codigo DNA:</b><br> 999999
							</div>
						</div>
						<div class="col-sm-2 col-md-2 col-lg-2">
							<div class="alert alert-success">
									<b>Tipologia:</b><br> tipologia
							</div>
						</div>
						<div class="col-sm-3 col-md-3 col-lg-3">
							<div class="alert alert-success">
								<b>Nro. de atencion:</b><br>999999
							</div>
						</div>
						<div class="col-sm-2 col-md-2 col-lg-2">
							<div class="alert alert-success">
								<b>Estado:</b><br> buen estado
							</div>
						</div>
					
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-12">
							<div class="alert alert-success">
								<b>Descripcion de la denuncia:</b> <br>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis odio assumenda quam nihil qui. Harum aspernatur quas cum reiciendis ducimus blanditiis quam molestias, minima, itaque delectus obcaecati odit ratione officiis!
							</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-12">

							<div class="alert alert-success">
								<b>Dinamica familiar e historia individual del niño, niña o adolecente:</b> <br>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad velit asperiores repellat sapiente culpa, vero unde sequi perspiciatis architecto sint, dolore. Ipsa, omnis molestiae, nulla doloremque consequuntur at delectus nihil?
							</div>

					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-9 col-lg-9">
						<div class="col-sm-6 col-md-6 col-lg-6 alert alert-success">
							<b>Victima:</b> Nombre Victima
						</div>
						<div class="col-sm-6 col-md-6 col-lg-6 alert alert-danger">
							<b>Victima:</b> No registrado
						</div>
						<div class="col-sm-2 col-md-2 col-lg-2"> <br> 
							<a href="#" class="btn btn-danger btn-xs"><i class="fa fa-edit"></i>Registrar</a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-9 col-lg-9">
						<div class="col-sm-6 col-md-6 col-lg-6 alert alert-success">
							<b>Familiar:</b> Nombre Familiar
						</div>
						<div class="col-sm-6 col-md-6 col-lg-6 alert alert-danger">
							<b>Familiar:</b> No registrado
						</div>
						<div class="col-sm-2 col-md-2 col-lg-2"> <br> 
							<a href="#" class="btn btn-danger btn-xs"><i class="fa fa-edit"></i>Registrar</a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-9 col-lg-9">
						<div class="col-sm-6 col-md-6 col-lg-6 alert alert-success">
							<b>Denunciante:</b> Nombre denunciante
						</div>
						<div class="col-sm-6 col-md-6 col-lg-6 alert alert-danger">
							<b>Denunciante:</b> No registrado
						</div>
						<div class="col-sm-2 col-md-2 col-lg-2"> <br> 
							<a href="#" class="btn btn-danger btn-xs"><i class="fa fa-edit"></i>Registrar</a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-9 col-lg-9">
						<div class="col-sm-6 col-md-6 col-lg-6 alert alert-success">
							<b>Denunciado:</b> Nombre Denunciado
						</div>
						<div class="col-sm-6 col-md-6 col-lg-6 alert alert-danger">
							<b>Denunciado:</b> No registrado
						</div>
						<div class="col-sm-2 col-md-2 col-lg-2"> <br> 
							<a href="#" class="btn btn-danger btn-xs"><i class="fa fa-edit"></i>Registrar</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</form>
{% endblock %}