{% extends 'base.html' %}
{% block contenido %}
<div class="row mt">
	<div class="col-lg-12">
		<h4 class="mb"><i class="fa fa-angle-right"></i> Iniciar denuncia</h4>
		<form class="form-horizontal style-form" action="" method="post">
			{% csrf_token %}
			<div class="row content-panel">
				<div class="col-sm-12 col-md-12 col-lg-12">
					<div class="form-inline">
						<div class="form-group col-sm-3 col-md-3">
							<label class="control-label">Fecha</label>
							<br>
							{{form.f_denuncia}}
						</div>
						<div class="form-group col-sm-3 col-md-3">
							<label class="control-label">Codigo DNA</label>
							<br>
							{{form.codigo_dna}}
						</div>
						<div class="form-group col-sm-3 col-md-3">
							<label class="control-label">Nro. Atencion</label>
							<br>
							{{form.nro_atencion}}
						</div>
						<div class="form-group col-sm-3 col-md-3">
							<label class="control-label">Tipologia</label>
							<br>
							{{form.tipologia}}
						</div>

						<div class="form-inline">
							<div class="form-group col-sm-12 col-md-12">
							<label class="control-label">Descripcion</label>
								<br>
								{{form.descripcion}}
							</div>
						</div>
						<div class="form-inline">
							<div class="form-group col-sm-3 col-md-3">
							<label class="control-label">Durante el relato el niño, niña o adolecente expreso su opinion?</label>
								<br>
								{{form.opinion}}
							</div>
						</div>

						<div class="form-inline">
							<div class="form-group col-sm-12 col-md-12">
							<label class="control-label">Dinamica familiar e historia individual del niño, niña o adolecente</label>
								<br>
								{{form.historia}}
							</div>
						</div>

					</div>
				</div>
				<div class="col-sm-12 col-md-12 col-lg-12">
				</div>
				&nbsp;<button type="submit" class="btn btn-theme mb">Siguiente</button>
				<a href="{% url 'listar_denuncias' %}" class="btn btn-theme mb">Cancelar</a>
			</div>
		</form>
	</div>
	{% endblock %}