{% extends 'base.html' %}
{% block contenido %}
<div class="content-panel">
	<table class="table tablestriped table-hover">
		<h4>
			<li class="fa fa-angle-circle">Defensorias</li>{% csrf_token %}
		</h4>
		{% if defensorias %}
		<hr>
		<thead>
			<tr>
				<th><i class="fa fa-user"></i>Nombres</th>
				<th><i class="fa fa-adjunst"></i>Direccion</th>
				<th><i class="fa fa-edit"></i>Telefono</th>
			</tr>
		</thead>
		<tbody>
		{% for defensoria in defensorias %}
			<tr>
				<td><a href="{% url 'edit_defensoria_view' defensoria.pk %}">{{defensoria.nombre}} </a></td>
				<td>{{defensoria.direccion}} </td>
				<td> {{defensoria.telefono}} </td>
			</tr>
		{% endfor %}

		{% else %}
		<li>No existen defensorias registradas aun</li>
		{% endif %}
		</tbody>
	</table>
</div>
{% endblock %}