{% extends 'base.html' %}
{% block contenido %}
<div class="content-panel">
	<table class="table tablestriped table-hover">
		<h4>
			<li class="fa fa-angle-circle">Estados del Caso</li>{% csrf_token %}
		</h4>
		{% if tipologias %}
		<hr>
		<thead>
			<tr>
				<th><i class="fa fa-user"></i>Nombres</th>
			
			</tr>
		</thead>
		<tbody>
		{% for tipologia in tipologias %}
			<tr>
				<td><a href="{% url 'edit_tipologias_view' tipologia.pk %}">{{tipologia.nombre}} </a></td>
			</tr>
		{% endfor %}

		{% else %}
		<li>No existen Tipologias registrados aun</li>
		{% endif %}
		</tbody>
	</table>
		<a href="{% url 'agregar_tipologias_view' %}" class="btn btn-theme">Nueva Tipologia</a>

</div>
{% endblock %}