{% extends 'base.html' %}
{% block contenido %}
<div class="content-panel">
	<div class="col-lg-12">
		<table class="table tablestriped table-hover">
			<h4>
				<li class="fa fa-angle-circle">Mis Casos</li>{% csrf_token %}
			</h4>
			{% if denuncias %}
			<hr>
			<thead>
				<tr>
					<th><i class="fa fa-barcode"></i>&nbsp;Codigo DNA</th>
					<th><i class="fa fa-calendar"></i>&nbsp;Fecha de la denuncia</th>
					<th><i class="fa fa-bookmark"></i>&nbsp;Tipologia</th>
					<th><i class="fa fa-pencil-square-o"></i>&nbsp;Acciones</th>
				</tr>
			</thead>
			<tbody>
				{% for denuncia in denuncias %}
				<tr>
					<td>{{denuncia.codigo_dna}}</td>
					<td>{{denuncia.f_denuncia}}</td>
					<td>{{denuncia.tipologia}}</td>
					<td><a href="{% url 'agregar_actuacion' denuncia.pk %}" class="btn btn-success btn-xs"><i class="fa fa-edit"></i>&nbsp;Revisar</a> </td>
				</tr>
				{% endfor %}

				{% else %}
				<li>No existen denuncias registradas aun</li>
				{% endif %}
			</tbody>
		</table>
		<a href="{% url 'registrar_denuncia' %}" class="btn btn-theme">Nueva Denuncias</a>
	</div>
</div>
{% endblock %}